* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul,
li {
  list-style: none; }

header {
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #E4E4E4;
  float: left; }
  header > span {
    float: left;
    margin-left: 40px;
    font-size: 10px; }
  header > ul {
    width: 45%;
    float: right; }
    header > ul li {
      font-size: 10px;
      margin-left: 4px;
      float: left; }
      header > ul li img:nth-of-type(4) {
        width: 15px;
        height: 15px; }
    header > ul li:nth-child(2) {
      color: red; }
    header > ul li:nth-child(8) {
      margin-left: 5px; }
    header > ul #asd #asd1 #asd2:hover {
      background: white;
      color: aqua; }
    header > ul #asd {
      width: 80px;
      height: 40px;
      position: relative;
      text-align: center; }
      header > ul #asd > dl {
        width: 80px;
        height: 80px;
        background: gray;
        position: absolute;
        color: orangered;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        display: none; }
    header > ul #asd1 {
      width: 80px;
      height: 40px;
      position: relative;
      text-align: center; }
      header > ul #asd1 > dl {
        width: 80px;
        height: 80px;
        background: gray;
        position: absolute;
        color: orangered;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        display: none; }
    header > ul #asd2 {
      width: 80px;
      height: 40px;
      position: relative;
      text-align: center; }
      header > ul #asd2 > dl {
        width: 80px;
        height: 80px;
        background: gray;
        position: absolute;
        color: orangered;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        display: none; }

footer {
  width: 100%;
  height: 170px; }
  footer .footer-top .footer-a {
    width: 20%;
    height: 120px;
    line-height: 210px;
    float: left;
    text-align: center; }
    footer .footer-top .footer-a img {
      margin-left: 50px;
      width: 190px;
      height: 80px; }
  footer .footer-top .footer-b {
    width: 40%;
    height: 80px;
    margin-top: 50px;
    margin-left: 100px;
    float: left; }
    footer .footer-top .footer-b input {
      width: 300px;
      height: 30px;
      border: 1px solid red; }
    footer .footer-top .footer-b button {
      border: none;
      width: 80px;
      height: 32px;
      color: white;
      font-size: 10px;
      background: red; }
    footer .footer-top .footer-b p {
      font-size: 8px;
      color: gainsboro; }
  footer .footer-top .footer-c {
    width: 21%;
    height: 40px;
    margin-top: 50px;
    text-align: center;
    position: relative;
    float: right; }
    footer .footer-top .footer-c .footer-right {
      width: 100px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #F6F6F6; }
      footer .footer-top .footer-c .footer-right span {
        font-size: 10px; }
  footer .footer-top #xin {
    z-index: 999;
    width: 300px;
    height: 540px;
    position: absolute;
    top: 50px;
    right: -230px;
    margin-right: 394px;
    padding: 0px 5px 5px 10px;
    border: 1px solid gainsboro;
    border-top: 4px solid red;
    display: none;
    background: #fff; }
    footer .footer-top #xin .qq {
      width: 275px;
      height: 35px;
      line-height: 35px; }
      footer .footer-top #xin .qq h4 {
        float: left;
        font-size: 12px; }
      footer .footer-top #xin .qq p {
        float: right;
        font-size: 12px; }
    footer .footer-top #xin li {
      width: 280px;
      height: 90px;
      margin-bottom: 10px; }
      footer .footer-top #xin li img {
        width: 95px;
        height: 90px;
        float: left;
        margin-right: 5px; }
      footer .footer-top #xin li .xu {
        width: 175px;
        height: 90px;
        float: left; }
        footer .footer-top #xin li .xu h6 {
          font-size: 12px;
          margin-bottom: 10px; }
          footer .footer-top #xin li .xu h6 span {
            margin-left: 20px; }
        footer .footer-top #xin li .xu p {
          font-size: 12px;
          margin-left: -105px;
          margin-bottom: 5px; }
        footer .footer-top #xin li .xu button {
          width: 30px;
          height: 40px; }
        footer .footer-top #xin li .xu input {
          text-align: center;
          width: 40px;
          height: 40px; }
        footer .footer-top #xin li .xu > span {
          font-size: 12px;
          margin-left: 30px;
          color: red; }
    footer .footer-top #xin .hui {
      width: 280px;
      height: 25px;
      line-height: 25px;
      font-size: 12px;
      background: #FFF9F3; }
    footer .footer-top #xin .jian {
      width: 280px;
      height: 40px;
      line-height: 40px;
      background: #FAFAFA; }
      footer .footer-top #xin .jian h5 {
        font-size: 14px;
        float: left; }
      footer .footer-top #xin .jian span {
        font-size: 12px;
        float: right; }
    footer .footer-top #xin .yi {
      width: 280px;
      height: 40px;
      font-size: 12px;
      line-height: 40px;
      color: blue; }
    footer .footer-top #xin button:nth-of-type(1) {
      width: 120px;
      height: 40px; }
    footer .footer-top #xin button:nth-of-type(2) {
      width: 160px;
      height: 40px; }

.jkl {
  width: 1200px;
  height: 42px;
  margin: 0 auto; }
  .jkl .nav-a {
    width: 210px;
    height: 45px;
    line-height: 45px;
    background: red;
    float: left;
    color: white;
    text-align: center; }
  .jkl .nav-b {
    width: 640px;
    height: 45px;
    line-height: 45px;
    margin-left: 15px;
    float: left; }
    .jkl .nav-b span {
      margin-left: 20px;
      font-weight: 600; }
    .jkl .nav-b span:nth-of-type(1) {
      color: red; }
    .jkl .nav-b span:nth-of-type(2) {
      color: red; }
  .jkl .nav-c {
    width: 210px;
    height: 45px;
    line-height: 45px;
    float: right; }
    .jkl .nav-c img {
      margin-top: 11px;
      margin-left: 108px; }
    .jkl .nav-c span {
      float: right;
      font-size: 10px;
      color: gainsboro; }

nav {
  width: 1200px;
  height: 445px;
  margin: 0 auto; }
  nav > ul {
    width: 210px;
    height: 400px;
    background: #B01D1D;
    float: left;
    position: relative; }
    nav > ul li {
      width: 210px;
      height: 40px;
      line-height: 40px; }
      nav > ul li img {
        margin-top: 7px;
        margin-left: 10px;
        width: 20px;
        height: 20px;
        float: left; }
      nav > ul li p {
        margin-left: 10px;
        font-size: 12px;
        float: left;
        color: white; }
      nav > ul li .logo {
        width: 990px;
        height: 400px;
        left: 210px;
        top: 0;
        position: absolute;
        background: white;
        z-index: 999;
        display: none; }
        nav > ul li .logo > dl {
          width: 258px;
          height: 135px;
          float: left;
          margin-left: 20px; }
          nav > ul li .logo > dl dt {
            font-size: 12px;
            font-weight: 600; }
          nav > ul li .logo > dl dd {
            font-size: 10px;
            margin-top: -15px;
            color: gray; }
        nav > ul li .logo dl:nth-of-type(1) {
          float: left; }
        nav > ul li .logo dl:nth-of-type(2) {
          float: left; }
        nav > ul li .logo ol {
          width: 210px;
          height: 400px;
          float: right;
          margin-top: -120px; }
          nav > ul li .logo ol dd {
            width: 105px;
            height: 200px;
            margin-top: -30px; }
            nav > ul li .logo ol dd img {
              width: 200px;
              height: 200px; }
    nav > ul li:hover .logo {
      display: block; }
    nav > ul li:hover {
      background: white;
      margin-left: 10px; }
      nav > ul li:hover p {
        color: red; }
  nav #div1 {
    width: 750px;
    height: 398px;
    position: relative;
    overflow: hidden;
    margin-left: 15px;
    float: left; }
    nav #div1 > ul > li {
      position: absolute;
      width: 750px;
      height: 398px;
      left: 1000px; }
      nav #div1 > ul > li img {
        width: 100%;
        height: 100%; }
    nav #div1 ol > li {
      float: left;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background: white;
      margin-left: 15px;
      font-size: 20px;
      text-align: center;
      line-height: 30px; }
      nav #div1 ol > li ol {
        position: absolute;
        bottom: 10px;
        left: 400px; }
  nav .xun {
    width: 210px;
    height: 400px;
    float: right;
    border: 1px solid gray; }
    nav .xun .kuai {
      width: 210px;
      height: 40px;
      border-bottom: 1px dashed gainsboro;
      line-height: 40px; }
      nav .xun .kuai h2 {
        margin-left: 10px;
        float: left;
        font-size: 18px; }
      nav .xun .kuai span {
        margin-right: 10px;
        float: right;
        font-size: 13px; }
    nav .xun #box {
      width: 210px;
      height: 180px;
      border: 1px solid red;
      position: relative;
      overflow: hidden; }
    nav .xun .hun {
      width: 210px;
      position: absolute;
      top: -290px;
      height: 500px;
      padding-top: 10px;
      padding-bottom: 10px;
      background: white;
      border-bottom: 1px solid gray; }
      nav .xun .hun li {
        text-align: center;
        font-size: 11px;
        width: 210px;
        height: 35px; }
    nav .xun .bao {
      width: 210px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px dashed gray;
      float: left; }
      nav .xun .bao h5 {
        margin-left: 10px;
        font-size: 15px; }
    nav .xun .nv {
      width: 205px;
      height: 170px;
      margin-left: 13px; }
      nav .xun .nv p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 10px; }
      nav .xun .nv img {
        width: 185px;
        height: 90px; }

.conten {
  width: 1200px;
  height: 230px;
  float: left;
  margin-left: 30px;
  margin-top: 20px; }
  .conten .ju {
    width: 213px;
    height: 230px;
    background: #D8EEFC;
    text-align: center;
    float: left; }
    .conten .ju img {
      width: 210px;
      text-align: center; }
    .conten .ju p:nth-of-type(1) {
      font-size: 10px;
      color: aqua; }
    .conten .ju p:nth-of-type(2) {
      font-size: 10px; }
    .conten .ju p:nth-of-type(3) {
      font-size: 5px; }
    .conten .ju button {
      margin-top: 10px;
      border: none;
      width: 60px;
      background: #FF4E00;
      color: white; }
    .conten .ju span {
      margin-left: 20px;
      font-size: 10px;
      color: #FF4E00; }
  .conten .bo {
    width: 974px;
    height: 230px;
    margin-left: 13px;
    float: left; }
    .conten .bo > ul {
      width: 980px;
      height: 230px; }
      .conten .bo > ul li {
        width: 242px;
        height: 230px;
        float: left;
        text-align: center;
        border: 1px solid gray; }
        .conten .bo > ul li img {
          width: 240px;
          height: 140px; }
        .conten .bo > ul li h4 {
          font-size: 15px; }
        .conten .bo > ul li p {
          font-size: 10px;
          padding-bottom: 5px;
          color: grey; }
        .conten .bo > ul li span:nth-of-type(1) {
          font-weight: 600;
          font-size: 15px;
          color: orangered; }
        .conten .bo > ul li span:nth-of-type(2) {
          margin-left: 10px;
          font-weight: 600;
          font-size: 10px;
          color: darkgray; }
      .conten .bo > ul li:nth-of-type(1) {
        border-right: none; }
      .conten .bo > ul li:nth-of-type(2) {
        border-right: none; }
      .conten .bo > ul li:nth-of-type(3) {
        border-right: none; }

.hei {
  width: 1200px;
  height: 110px;
  margin-top: 30px;
  margin-left: 30px;
  float: left; }
  .hei img {
    width: 1200px;
    height: 110px; }

#lou {
  width: 32px;
  position: fixed;
  top: 150px;
  border: 1px solid #66FF66;
  /*display: none;*/ }

#lou ul li {
  position: relative;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  border-bottom: 1px dotted #8B008B; }

#lou ul li span {
  /*display: none;*/
  width: 32px;
  height: 32px;
  position: absolute;
  top: 0;
  left: 0; }

#lou ul li span {
  display: none; }

#lou ul li.last {
  background: #C00;
  color: white;
  /*border-bottom: none;*/ }

#lou ul li.hover span {
  background: aqua;
  color: #fff;
  display: block; }

#lou ul li.hover span.active {
  background: #c00;
  color: #fff;
  display: block; }

#lou ul li span.active {
  background: #fff;
  color: #c00;
  display: block; }

.xia {
  width: 1465px;
  height: 1655px;
  float: left; }
  .xia .di {
    width: 1200px;
    height: 500px;
    margin-left: 30px;
    float: left; }
    .xia .di .jin {
      width: 1200px;
      height: 55px;
      line-height: 55px;
      float: left;
      border-bottom: 2px solid firebrick; }
      .xia .di .jin > li:nth-of-type(1) {
        float: left;
        width: 850px;
        height: 55px; }
        .xia .di .jin > li:nth-of-type(1) img {
          margin-top: 10px;
          float: left; }
        .xia .di .jin > li:nth-of-type(1) p {
          font-size: 10px; }
      .xia .di .jin > li:nth-of-type(2) {
        width: 245px;
        height: 55px;
        float: right;
        font-size: 10px; }
        .xia .di .jin > li:nth-of-type(2) span {
          padding-left: 10px; }
    .xia .di .zhong {
      width: 1200px;
      height: 440px;
      float: left; }
      .xia .di .zhong .lunbo {
        width: 215px;
        height: 440px;
        float: left;
        background: #A7E5BE; }
        .xia .di .zhong .lunbo img {
          width: 215px;
          height: 290px; }
        .xia .di .zhong .lunbo > ul {
          width: 215px;
          height: 146px;
          background: #E4F7EC; }
          .xia .di .zhong .lunbo > ul li {
            font-size: 10px;
            text-align: center;
            width: 210px;
            height: 30px;
            line-height: 40px;
            border-bottom: 1px dashed gainsboro; }
            .xia .di .zhong .lunbo > ul li span {
              padding-left: 20px; }
      .xia .di .zhong .ning {
        width: 245px;
        height: 440px;
        float: left; }
        .xia .di .zhong .ning .hua1 {
          width: 245px;
          height: 220px;
          float: left;
          text-align: center;
          border-right: 1px solid gainsboro;
          border-bottom: 1px solid darkgrey; }
          .xia .di .zhong .ning .hua1 p:nth-of-type(1) {
            margin-top: 20px;
            font-size: 10px; }
          .xia .di .zhong .ning .hua1 p:nth-of-type(2) {
            margin-top: 9px;
            margin-bottom: 20px;
            font-size: 12px;
            color: orangered; }
          .xia .di .zhong .ning .hua1 img {
            width: 185px;
            height: 135px; }
          .xia .di .zhong .ning .hua1 img:hover {
            width: 200px;
            height: 140px; }
        .xia .di .zhong .ning .hua2 {
          width: 245px;
          height: 220px;
          float: left;
          text-align: center;
          border-right: 1px solid gainsboro; }
          .xia .di .zhong .ning .hua2 p:nth-of-type(1) {
            margin-top: 20px;
            margin-bottom: 10px;
            font-size: 10px; }
          .xia .di .zhong .ning .hua2 p:nth-of-type(2) {
            margin-bottom: 20px;
            font-size: 15px;
            color: orangered; }
          .xia .di .zhong .ning .hua2 img {
            width: 145px;
            height: 130px; }
          .xia .di .zhong .ning .hua2 img:hover {
            width: 150px;
            height: 135px; }
      .xia .di .zhong .ning2 {
        width: 245px;
        height: 440px;
        float: left; }
        .xia .di .zhong .ning2 .hua5 {
          width: 245px;
          height: 220px;
          float: left; }
          .xia .di .zhong .ning2 .hua5 img {
            width: 245px;
            height: 220px; }
        .xia .di .zhong .ning2 .hua6 {
          width: 245px;
          height: 220px;
          float: left; }
          .xia .di .zhong .ning2 .hua6 img {
            width: 245px;
            height: 220px; }

.content {
  width: 85%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
  float: left;
  margin-top: 65px; }
  .content > ul {
    margin-left: 120px; }
    .content > ul li {
      width: 25%;
      text-align: center;
      float: left; }
      .content > ul li img {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        transition: all 3s; }
      .content > ul li :hover {
        transform: rotate(360deg) scale(1.2); }
      .content > ul li p {
        font-size: 15px; }
      .content > ul li span {
        font-size: 10px;
        color: gainsboro; }

.nooth {
  width: 1200px;
  height: 155px;
  float: left;
  margin-left: 40px;
  border-bottom: 1px dashed gray; }
  .nooth .nav {
    width: 65%;
    float: left;
    margin-left: 60px; }
    .nooth .nav dl {
      width: 10%;
      margin-left: 50px;
      float: left; }
      .nooth .nav dl dt {
        font-size: 15px;
        margin-bottom: 15px; }
      .nooth .nav dl dd {
        margin-top: 5px;
        font-size: 10px;
        color: gray; }
  .nooth .ma {
    width: 17%;
    height: 150px;
    margin: 0 auto;
    float: left; }
    .nooth .ma .mar {
      float: right;
      margin-left: 10px; }
      .nooth .ma .mar p:nth-of-type(1) {
        font-size: 10px;
        color: gray; }
      .nooth .ma .mar p:nth-of-type(2) {
        font-size: 10px;
        color: gray; }
      .nooth .ma .mar p:nth-of-type(3) {
        font-size: 10px;
        color: gray;
        margin-top: 20px; }
      .nooth .ma .mar p:nth-of-type(4) {
        color: aqua;
        margin-top: 5px;
        font-size: 14px; }

.footer {
  width: 100%;
  float: left; }
  .footer p {
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    color: gray; }

.footer-img {
  width: 100%;
  margin: 0 auto;
  margin-left: 285px;
  float: left; }
  .footer-img img {
    margin: 0 auto !important;
    width: 55%;
    height: 42px; }

/*# sourceMappingURL=index.css.map */
