* {
  margin: 0;
  padding: 0;
  text-decoration: none; }

ul, li {
  list-style: none; }

.mai {
  width: 1200px;
  height: 405px;
  margin-left: 5%; }
  .mai .suo {
    width: 1150px;
    height: 50px;
    line-height: 50px; }
    .mai .suo p {
      font-size: 10px; }
    .mai .suo span {
      color: #FF3124; }
  .mai .shi {
    width: 1150px;
    height: 400px; }
    .mai .shi li {
      float: left; }
    .mai .shi li:nth-of-type(3) {
      width: 190px;
      height: 400px;
      float: right; }
      .mai .shi li:nth-of-type(3) p {
        margin-top: -4px;
        width: 190px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        background: gray;
        border: 1px solid gainsboro;
        border-top: none; }
    .mai .shi li:nth-of-type(1) {
      width: 395px;
      height: 400px; }
      .mai .shi li:nth-of-type(1) #fex, .mai .shi li:nth-of-type(1) #app {
        position: absolute;
        top: 20px; }
      .mai .shi li:nth-of-type(1) #fex {
        width: 390px;
        height: 380px;
        margin-top: 30px; }
      .mai .shi li:nth-of-type(1) #fex img {
        width: 100%;
        height: 100%; }
      .mai .shi li:nth-of-type(1) #app {
        left: 474px;
        width: 200px;
        height: 200px;
        margin-top: 30px;
        border: 1px solid #000000;
        overflow: hidden;
        display: none; }
      .mai .shi li:nth-of-type(1) #app img {
        width: 400px;
        height: 400px;
        position: absolute;
        left: 0;
        top: 0; }
      .mai .shi li:nth-of-type(1) #bar_box {
        position: absolute;
        width: 60px;
        height: 60px;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.3);
        display: none; }
    .mai .shi li:nth-of-type(2) {
      width: 543px;
      height: 400px;
      margin-left: 20px; }
      .mai .shi li:nth-of-type(2) h4 {
        font-size: 14px; }
      .mai .shi li:nth-of-type(2) p:nth-of-type(1) {
        color: gainsboro;
        margin-top: 5px;
        font-size: 10px; }
      .mai .shi li:nth-of-type(2) p:nth-of-type(2) {
        margin-top: 40px;
        font-size: 10px; }
        .mai .shi li:nth-of-type(2) p:nth-of-type(2) span {
          font-size: 14px;
          font-weight: 800;
          color: #FF3333; }
      .mai .shi li:nth-of-type(2) p:nth-of-type(3) {
        margin-top: 10px;
        font-size: 10px; }
        .mai .shi li:nth-of-type(2) p:nth-of-type(3) span {
          font-size: 14px; }
      .mai .shi li:nth-of-type(2) p:nth-of-type(4) {
        margin-top: 20px;
        font-size: 10px; }
        .mai .shi li:nth-of-type(2) p:nth-of-type(4) button {
          width: 60px;
          height: 25px;
          margin-left: 10px;
          background: white;
          border: 1px solid gainsboro; }
      .mai .shi li:nth-of-type(2) p:nth-of-type(5) {
        margin-top: 10px;
        font-size: 10px; }
        .mai .shi li:nth-of-type(2) p:nth-of-type(5) button {
          width: 60px;
          height: 25px;
          margin-left: 10px;
          background: white;
          border: 1px solid gainsboro; }
      .mai .shi li:nth-of-type(2) .ru {
        width: 270px;
        margin-top: 40px;
        float: left; }
        .mai .shi li:nth-of-type(2) .ru p:nth-of-type(1) {
          margin-left: 30px;
          float: left; }
          .mai .shi li:nth-of-type(2) .ru p:nth-of-type(1) img {
            vertical-align: middle; }
        .mai .shi li:nth-of-type(2) .ru p:nth-of-type(2) {
          float: left;
          margin-left: 40px;
          margin-top: 5px; }
          .mai .shi li:nth-of-type(2) .ru p:nth-of-type(2) img {
            vertical-align: middle; }
      .mai .shi li:nth-of-type(2) .one {
        width: 270px;
        height: 45px;
        position: absolute;
        margin-top: 100px; }
        .mai .shi li:nth-of-type(2) .one button {
          width: 160px;
          height: 40px;
          color: white;
          border: none;
          background: orangered; }
          .mai .shi li:nth-of-type(2) .one button img {
            padding-right: 30px;
            width: 15px;
            height: 15px; }

.fff {
  width: 1185px;
  height: 115px;
  margin-left: 5%;
  float: left; }

footer {
  width: 1185px;
  height: 4970px;
  margin-left: 5%;
  float: left; }
  footer > ul {
    width: 205px;
    height: 4970px;
    border-bottom: none;
    border-top: none;
    float: left; }
    footer > ul li {
      width: 205px;
      height: 240px;
      border: 1px solid gainsboro; }
      footer > ul li img {
        margin-top: 10px; }
      footer > ul li p {
        margin-top: 5px;
        text-align: center; }
      footer > ul li p:nth-of-type(1) {
        font-size: 12px; }
      footer > ul li p:nth-of-type(2) {
        color: #B00000;
        margin-top: 10px; }
    footer > ul ol {
      width: 194px;
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      font-size: 13px;
      background: #F6F6F6; }
  footer .jing {
    width: 975px;
    height: 4970px;
    float: left;
    border-left: none; }
    footer .jing > ol {
      width: 974px;
      height: 30px;
      background: #F6F6F6; }
      footer .jing > ol button {
        width: 110px;
        height: 30px;
        font-size: 13px;
        background: white;
        border: none;
        border-top: 2px solid orangered; }
    footer .jing .mao {
      width: 935px;
      height: 215px;
      margin-top: 30px;
      padding-left: 40px;
      float: left;
      margin-bottom: 10px;
      border: 1px solid gainsboro;
      border-left: none; }
      footer .jing .mao li {
        width: 125px;
        height: 190px;
        float: left; }
        footer .jing .mao li > p {
          margin-top: 40px;
          font-size: 10px; }
        footer .jing .mao li .hj {
          width: 125px;
          height: 30px;
          margin-top: 10px;
          float: left; }
          footer .jing .mao li .hj p {
            float: right;
            font-size: 12px; }
      footer .jing .mao .gh {
        float: left;
        width: 35px;
        height: 185px;
        margin-left: 100px;
        line-height: 185px; }
      footer .jing .mao .zu {
        width: 125px;
        height: 190px;
        margin-top: 50px;
        float: left; }
        footer .jing .mao .zu p {
          padding-bottom: 10px;
          font-size: 10px;
          color: orangered; }
          footer .jing .mao .zu p span {
            font-size: 14px; }
        footer .jing .mao .zu input {
          width: 70px;
          height: 20px;
          text-align: center; }
        footer .jing .mao .zu button {
          width: 120px;
          height: 40px;
          margin-top: 10px;
          background: orangered;
          color: white;
          border: none; }
  footer .tian {
    width: 974px;
    height: 175px;
    float: left;
    border: 1px solid gainsboro;
    border-left: none;
    margin-bottom: 10px; }
    footer .tian > ol {
      width: 970px;
      height: 30px;
      background: #F6F6F6; }
      footer .tian > ol button:nth-of-type(1) {
        width: 110px;
        height: 30px;
        font-size: 13px;
        background: white;
        border: none;
        border-top: 2px solid orangered; }
      footer .tian > ol button:nth-of-type(2) {
        width: 110px;
        height: 30px;
        font-size: 13px;
        background: #F6F6F6;
        margin-left: -4px;
        border: none; }
      footer .tian > ol button:nth-of-type(3) {
        width: 110px;
        height: 30px;
        font-size: 13px;
        background: #F6F6F6;
        margin-left: -4px;
        border: none; }
    footer .tian > ul {
      width: 970px;
      height: 150px;
      float: left;
      padding-top: 30px;
      margin-left: 40px; }
      footer .tian > ul li {
        width: 200px;
        height: 115px;
        float: left; }
        footer .tian > ul li P {
          margin-bottom: 10px;
          font-size: 10px; }
  footer nav {
    width: 974px;
    height: 3815px;
    float: left;
    border: 1px solid gainsboro;
    border-top: none;
    border-top: 3px solid orangered; }
    footer nav > ol {
      width: 973px;
      height: 30px;
      background: #F6F6F6; }
      footer nav > ol button:nth-of-type(1) {
        width: 110px;
        height: 30px;
        font-size: 13px;
        background: #F6F6F6;
        color: orangered;
        border: none; }
    footer nav .fei {
      width: 745px;
      height: 3690px;
      margin: 0 auto; }
      footer nav .fei img {
        margin-top: 30px; }

/*# sourceMappingURL=fei.css.map */
