//基本样式
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul,li{
    list-style: none;
}

header{
    width: 300px;
    height: 565px;
    .man{
        width: 290px;
        height: 166px;
        float: left;
        h2{
            font-size: 12px;
            float: left;
        } 
        p{
            
            font-size: 12px;
            float: right;
        }
    }
}






