//基本样式
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.shi{
    width: 1200px;
    height: 75px;
    margin: 0 auto;
//  margin-top: 30px;
//  background: red;
//  text-align: center;
    line-height: 55px;
    p{
        font-size: 12px;
        button{
            width: 125px;
            height: 25px;
            font-size: 12px;
            border: 1px dashed red;
            background: white;
            span{
                color: #FF416E;
            }
        }
    }
}
.dai{
    width: 1200px;
    height: 220px;
    margin: 0 auto;
    border: 1px solid gray;
    li:nth-of-type(1){
        width: 1200px;
        height: 70px;
        border-bottom: 1px solid aquamarine;
        margin-top: 10px;
        .pin{
            width: 8%;
            height: 70px;
            float: left;
            p{
                margin-left: 15px;
                font-size: 10px;
                margin-top: 5px;
            }
        }
        .pin1{
            span{
                font-size: 10px;
                padding-left: 20px;
            }
            span:nth-of-type(1){
                color: orangered;
            }
        }
    }
    li:nth-of-type(2){
        width: 1200px;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid aquamarine;
        .jia{
            width: 8%;
            float: left;
            p{
                margin-left: 15px;
                font-size: 10px;
            }
        }
        span{
            font-size: 10px;
            margin-left: 20px;
        }
    }
    li:nth-of-type(3){
        width: 1200px;
        height: 45px;
        line-height: 45px;
        border-bottom: 1px solid aquamarine;
        .jia{
            width: 8%;
            float: left;
            p{
                margin-left: 15px;
                font-size: 10px;
            }
        }
        span{
            font-size: 10px;
            margin-left: 20px;
        }
    }
    li:nth-of-type(4){
        width: 1200px;
        height: 45px;
        line-height: 45px;
//      padding-bottom: 10px;
//      border-bottom: 1px solid aquamarine;
        .jia{
            width: 8%;
            float: left;
            p{
                margin-left: 15px;
                font-size: 10px;
            }
        }
        span{
            font-size: 10px;
            margin-left: 20px;
        }
    }
}
nav{
    width: 1160px;
    height: 1635px;
    .li{
        margin-top: 20px;
        width: 1185px;
        height: 32px;
//      border-bottom: 1px solid red;
        .shi{
            width: 210px;
            height: 30px;
            line-height: 30px;
            margin-left: 30px;
            border: 1px solid gainsboro;
//          border-bottom: 1px solid red;
            float: left;
            span:nth-of-type(1){
                padding-left: 10px;
                border-left: 5px solid #FF5B13;
                color: #FF5B13;
                font-size: 12px;
                margin-left: 10px;
            }
            span:nth-of-type(2){
                margin-right: 10px;
                font-size: 12px;
                float: right;
            }
        }
        .xiao{
            width: 943px;
            height: 31px;
            margin: 0 auto;
            line-height: 32px;
            float: right;
            border-bottom: 1px solid gainsboro;
            button:nth-of-type(1){
                width: 60px;
                height: 20px;
                border: none;
                font-size: 12px;
                color: white;
                background: orangered;
            }
            button:nth-of-type(2){
                margin-left: -10px;
                width: 60px;
                height: 20px;
                border: none;
                font-size: 12px;
                border: 1px solid gainsboro;
                background: white;
            }
            button:nth-of-type(3){
                margin-left: -10px;
                width: 60px;
                height: 20px;
                border: none;
                font-size: 12px;
                border: 1px solid gainsboro;
                background: white;
            }
            button:nth-of-type(4){
                margin-left: -10px;
                width: 60px;
                height: 20px;
                border: none;
                font-size: 12px;
                border: 1px solid gainsboro;
                background: white;
            }
            p{
                font-size: 10px;
//              margin-right: -10px;
                float: right;
            }
        }
    }
    ul{
        width: 210px;
        height: 1205px;
        border: 1px solid gainsboro;
        border-bottom: none;
        border-top: none;
        float: left;
        margin-left: 30px;
//      margin: 0 auto;
        li{
            width: 210px;
            height: 240px;
            border-bottom: 1px solid gainsboro;
//          text-align: center;
            img{
                margin-top: 10px;
            }
            p{
                margin-top: 5px;
                text-align: center;
            }
            p:nth-of-type(1){
                font-size: 12px;
            }
            p:nth-of-type(2){
                color: #B00000;
                margin-top: 10px;
            }
        }
    }
    .bai{
        width: 905px;
        height: 1605px;
        float: left;
//      margin-top: 40px;
        margin-left: 10px;
        text-align: center;
        li{
            width: 216px;
            height: 290px;
            float: left;
            margin-top: 40px;
            margin-left: 10px;
//          img{
//              width: 60px;
//              height: 60px;
//          }
            p:nth-of-type(1){
                margin-top: 15px;
                color: orangered;
            }
            p:nth-of-type(2){
                margin-top: 15px;
                font-size: 12px;
            }
            button:nth-of-type(1){
                width: 75px;
                height: 25px;
                background: white;
                margin-top: 20px;
                font-size: 10px;
                
//              margin-left: -50px;
                border: none;
                border: 1px solid red;
                border-right: none;
                img{
                    width: 10px;
                }
            }
            button:nth-of-type(2){
                width: 110px;
                height: 25px;
                color: orange;
                font-size: 10px;
                background: white;
                margin-top: 20px;
                margin-left: -5px;
                border: none;
                border: 1px solid red;
                img{
                    height: 10px;
                }
            }
        }
        ol{
            width: 213px;
            height: 290px;
            margin-top: 10px;
            margin-left: 12px;
            float: left;
            p:nth-of-type(1){
                margin-top: 15px;
                color: orangered;
            }
            p:nth-of-type(2){
                margin-top: 15px;
                font-size: 12px;
            }
            button:nth-of-type(1){
                width: 75px;
                height: 25px;
                background: white;
                margin-top: 20px;
                font-size: 10px;
                
//              margin-left: -50px;
                border: none;
                border: 1px solid red;
                border-right: none;
                img{
                    width: 10px;
                }
            }
            button:nth-of-type(2){
                width: 110px;
                height: 25px;
                color: orange;
                font-size: 10px;
                background: white;
                margin-top: 20px;
                margin-left: -5px;
                border: none;
                border: 1px solid red;
                img{
                    height: 10px;
                }
            }
        }
        .hong{
            margin-top: 10px;
            margin-right: 130px;
            float: right;

        button:nth-of-type(1){
            width: 40px;
            height: 20px;
            font-size: 10px;
            background: white;
            border: none;
            border: 1px solid gray;
            }
        button:nth-of-type(2){
            width: 20px;
            height: 20px;
            font-size: 10px;
            background: orangered;
            color: white;
            border: none;
//          border: 1px solid gray;
            }
        button:nth-of-type(3){
            width: 20px;
            height: 20px;
            font-size: 10px;
            background: white;
//          color: white;
            border: none;
            border: 1px solid gray;
            }
        button:nth-of-type(4){
            width: 20px;
            height: 20px;
            font-size: 10px;
            background: white;
//          color: white;
            border: none;
            border: 1px solid gray;
            }
        button:nth-of-type(5){
            width: 20px;
            height: 20px;
            font-size: 10px;
            background: white;
//          color: white;
            border: none;
            border: 1px solid gray;
            }
        button:nth-of-type(6){
            width: 40px;
            height: 20px;
            font-size: 10px;
            background: white;
            border: none;
            border: 1px solid gray;
            }
        }   
    }
}
//.hong{
//  margin-top: 30px;
//  margin-right: 130px;
//  float: right;
//  button:nth-of-type(1){
//      width: 50px;
//      height: 20px;
//      font-size: 10px;
//  }
//}
